sidenav
  .sidenav
    height: 100%
    background-color: cyan

  .link
    background-color: orange
    cursor: pointer
    padding-top: 10px
    padding-bottom: 10px
    font-size: 18px
    padding-left: 20px

  .link:hover
    background-color: yellow

  .link.selected
    background-color: green
